body {
    background-image: url("/unit-4-game/assets/images/bg.jpg");
    background-repeat: repeat;
    font-family: 'Tenor Sans', sans-serif;
    color: black;
}

img {
    width: 100px;
}

div {
    border: 1px solid black;
    align-content: center;
    text-align: center;
    margin:0;
    background: white;
}

.container {
    width: 600px;
    align-content: center;
    margin: 20px auto;

}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 68px;
    letter-spacing: .25em;
    text-transform: uppercase;
    line-height: 74px;
}
